h1 {
	color: lightslategray;
}
img {
	width: 400px;
}
#thirdDiv {
	height: 600px;
	width: 500px;
	background-color: darkgray;
	padding: 50px;
	border: 0.5rem solid;
}
#spanId {
	font-size: 18px;
	margin: 50px;
}